
body {
    margin: 1%;
    padding: 0;
    background: lightgrey;
}

.header {
    background-color: #f1f1f1;
    padding: 0.5%;
    text-align: center;
    height: 5%;
}

.chinfo {
    background-color: #f1f1f1;
    padding: 0.5%;
    margin: 1%; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player {
    background-color: ivory;
    padding: 0% 0.5% 0.5% 0.5%;
    text-align: center;
    width: 25%;
    margin: 0.5%;
}

.balance {
    background-color: ivory;
    padding: 0% 0.5% 0.5% 0.5%;
    text-align: center;
    width: 25%;
    margin: 0.5%;
}

.position {
    background-color: ivory;
    padding: 0% 0.5% 0.5% 0.5%;
    text-align: center;
    width: 25%;
    margin: 0.5%;
}

.salary {
    background-color: ivory;
    padding: 0% 0.5% 0.5% 0.5%;
    text-align: center;
    width: 25%;
    margin: 0.5%;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0% 4% 0% 4%;
}

.fullBotton {
    background-color: #f1f1f1;
    margin: 1% 1% 1% 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.buttonText {
    background: ivory;
    margin: 4% 3%;
    padding: 1%;
    text-align: center;
    padding: 1%;
    align-self: center;
    width: 90%;
    
}

.bottonBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 1%;
    padding: 1%;
}

.img {
    align-self: center;
    height: 70%;
    width: 40%;
    margin: 1% 1% 5%;
}

.button {
    background-color: purple;
    color: white;
    align-self: center;
    width: 27%;
    border-radius: 10%;
    margin: 2%;
    cursor: pointer;
}

.alert {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 1% 7% 0% 7%;
}

.alertButton {
    display: none;
}

.retire {
    display: none;
    cursor: pointer;
}

