
body {
    margin: 1%;
    padding: 0;
    background: lightgrey;
}

.header {
    background-color: #f1f1f1;
    padding: 0.5%;
    text-align: center;
    height: 5%;
}

.summary {
    background-color: #f1f1f1;
    margin: 1% 4% 0% 4%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.writtensummary {
    background-color: ivory;
    margin: 1%;
    padding: 0.5%;
}

.stats {
    background-color: ivory;
    margin: 1%;
    padding: 0.5%;
}

.img {
    align-self: center;
    height: 70%;
    width: 40%;
    margin: 1%;
}