body {
    margin: 1%;
    padding: 0;
    background: lightgrey;
}

.logo {
    margin-top: 5%;
    text-align: center;
}

.game {
    margin-top: 2%;
    color: blue;
    text-align: center;
    font-size: 24px;
}

.start {
    margin-top: 2%;
    background-color: #fedc00ff;
    color: black;
    width: 20%;
    height: 500%;
    border-radius: 25px;
    font-size: 32px;
}

.pink {
    color: #d6007cff;
}

.blue {
    color: #009bdbff;
}

.green {
    color: #90b301ff;
}

.yellow {
    color: #fedc00ff;
}